body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

@keyframes slideInWithBlur {
  0% {
    transform: translateX(100%);
    filter: blur(1px); /* Start with a blur */
  }
  100% {
    transform: translateX(0%);
    filter: blur(0); /* End with no blur */
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    filter: blur(5px);
  }
  100% {
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    filter: blur(5px);
  }
  100% {
    transform: translateX(0);
    filter: blur(0);
  }
}

.animate-slideInLeft {
  animation: slideInLeft 0.4s ease-out;
}

.animate-slideInRight {
  animation: slideInRight 0.4s ease-out;
}
